
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
  }
  
  header {
    background-color: #22437e;
    color: white;
    padding: 10px 0;
    text-align: center;
    position: relative;
  }
  
  header h1 {
    margin: 0;
    font-size: 2.5em;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin: 0 15px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
  }
  

  #cart-counter {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #333;
    color: white;
    padding: 10px;
    border-radius: 5px;
  }
  
  #cart-count {
    font-weight: bold;
  }
  
  main {
    padding: 20px;
  }
  
  section {
    margin-bottom: 40px;
  }
  
  #productos .product-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .product-grid .card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 30%;
    text-align: center;
    margin-bottom: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease, transform 0.6s ease;
  }

  
  .product-grid .card.show {
    opacity: 1;
    transform: translateY(0);
  }
  
  .product-grid .card img {
    width: 100%;
    border-bottom: 1px solid #ddd;
  }
  
  #reseñas .reseñas-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
  
  .reseñas-grid .reseña {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease, transform 0.6s ease;
  }
  
  .reseñas-grid .reseña.show {
    opacity: 1;
    transform: translateY(0);
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  form label {
    margin-top: 10px;
  }
  
  form input, form textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  form button {
    margin-top: 20px;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
  }
  
  /* Responsivo */
  @media (max-width: 768px) {
    .product-grid {
      flex-direction: column;
    }
  
    .reseñas-grid {
      grid-template-columns: 1fr;
    }
  }
  